    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    li {
        color: #fff;
    }
    
    h6 {
        font-size: 10px;
        text-align: center;
    }
    
    .imigr {
        background-color: rgb(209, 206, 206);
    }
    
    .countries {
        margin-bottom: 48px;
    }
    
    .card {
        border: none
    }
    
    .card-title {
        font-size: larger;
    }
    
    .card-text {
        font-size: 12px;
    }
    
    .arrow {
        color: #e46425;
    }
    
    .read {
        font-size: 10px;
        font-weight: bold;
    }
    
    .container {
        width: 65%
    }
    
    img {
        width: 30%;
    }
    
    #flag {
        border-radius: 50%;
    }
    
    #map {
        width: 100%;
    }
    
    .location {
        color: white;
        background-color: #e46425;
        font-size: small;
    }
    
    .location_arrow {
        padding-left: 6px;
    }
    
    .world {
        font-size: 14px;
    }
    
    .services {
        background-color: #e46425;
        padding: 60px;
        padding-left: 80px;
    }
    
    .visa {
        background-color: rgba(19, 9, 105, 0.63);
        padding: 60px;
    }
    
    .more {
        background-color: rgba(12, 6, 71, 0.863);
        font-size: 10px;
        font-weight: bold;
        margin-top: 12px;
    }
    
    .type_visa {
        font-size: 14px;
    }
    
    .formular {
        background-color: #f3f3f3;
    }
    
    hr {
        width: 3%;
        background-color: #e46425;
        margin: auto;
        height: 1px !important;
        opacity: 1;
        margin-bottom: 50px;
        margin-top: 8px;
    }
    
    .form-group {
        padding: 0;
        margin: 0;
    }
    
    .required:after {
        content: " *";
        color: #e46425;
    }
    
    .request {
        padding-top: 33px;
    }
    
    .phone {
        background-color: rgba(12, 6, 71, 0.863);
    }
    
    #number {
        color: #e46425;
    }